.rubik,
body,
textarea,
canvas,
input[type="text"] {
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 900;

  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html {
  background-color: #9bffff;
  background-image: url("/svgs/ssspiral.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  text-align: center;
  user-select: none;
}

textarea {
  background-color: transparent;
  border-style: unset;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"] {
  background-color: transparent;
  border-style: unset;
  border-bottom: 3px solid rgb(0, 0, 0);
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
}