.rubik,
body,
textarea,
canvas,
input[type="text"] {
  font-family: 'Rubik';
  font-size: 30px;
  font-weight: 900;

  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  text-align: center;
  background-color: rgb(155, 255, 255);
  user-select: none;
}

textarea {
  background-color: transparent;
  border-style: unset;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"] {
  background-color: transparent;
  border-style: unset;
  border-bottom: 3px solid rgb(0, 0, 0);
  outline: none;
  width: 100%;
  box-sizing: border-box;
}